obj
bin
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*~
*.sql
*.swp
*.swo
/build/config/assemblyinfo.cs
/build/config/bootstrap.xml
/build/config/log4net.config.xml
/build/artifacts                 
/build/installation                 
/build/compile                 
/build/local.properties.xml                 
